@model ECommerceMVC.ViewModels.RegisterVM;

@{
    ViewData["Title"] = "Đăng ký";
}

<div class="container-fluid py-5">
    <div class="container py-5">
        <h1 class="mb-4">Billing details</h1>
        <form asp-action="DangKy">
            <div class="row">
            </div>
        </form>
    </div>
</div>
